.body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero {
    background: url('your-image-url-here') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/hero_bg.png);
}
.section-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
